body { color:white; 
		background-color: #c585f7;
		text-align: center
	}

h1 { border-style: double; 
	}

h1 {font-family: cursive, "Lucida Handwriting";
	}

h3 { text-decoration-line: underline; 
	 background-color: mediumpurple
	}		

ul {list-style-position: inside;
	list-style-image: url('sparkle.png');
	}
