body { color:white; 
		background-color: #c585f7;
		text-align: center
	}

h1 { border-style: double; 
	}

h2 {font-family: cursive, "Lucida Handwriting";
	}

h3 { text-decoration-line: underline; 
	 background-color: mediumpurple
	}		


